jupyter_notebooks 
models 
predictions 
results 
src_old 
input
splits

sample_morg2_query.csv

PPB2_data.zip
coconut_data/
data/APfp_fingerprint.npy
data/Daylight_type_substructure_fingerprint_(Sfp).npy
data/Extended_connectivity_fingerprint_(ECfp4).npy
data/MACCS_fingerprint.npy
data/MORG2_fingerprint.npy
data/MORG3_fingerprint.npy
data/MQN_fingerprint.npy
data/RDK_fingerprint.npy
data/SMIfp_fingerprint.npy
data/Xfp_fingerprint.npy
data/circular_fingerprint.npy
data/compounds.csv.gz
data/compounds.smi.gz
data/compounds_to_targets.pkl
data/fingerprints/
data/gene_symbol_to_id.pkl
data/original/
data/target_info.csv
data/targets.npz
oe_license.txt
results_bluebear/
target_ids.txt
test.npz
tokens.log